
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="~/Content/css/general.css">
    <!-- 1ra Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/main-container/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/main-container/logo.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/main-container/options.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/main-container/section-a.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/main-container/section-b.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/main-container/exchanger-input.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/main-container/footer.css">
    <!-- 2da Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/second-container/layout.css">
    <!-- 3ra Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/third-container/layout.css">
    <!-- 4ra Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/fourth-container/layout.css">
    <!-- 5ta Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/fifth-container/layout.css">
    <!-- 6ta Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/sixth-container/layout.css">
    <!-- 7ma Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/seventh-container/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/seventh-container/contact-area.css">
    <!--Extra container-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/extra-container/layout.css">
    <!-- 8va Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/eighth-container/layout.css">
    <!-- 9na Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/ninth-container/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/ninth-container/footer-menu.css">
    <!--Quienes Somos-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/quienes-somos/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/corfid/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/user-area-adjustments.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/auction/auction-box/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/terminos/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/register-auction-container/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/components/form-base-container/base-input/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/app.css" />
    <!-- custom select 1 (exchange soles) -->
    <script src="~/Content/js/custom_select.js"></script>
    <script src="~/Content/js/preguntas_frecuentes.js"></script>
    <script src='~/Content/js/ayuda.js'></script>
    <style>
        .soporte {
            background-color: #f3f3f3;
        }

        base-input {
            display: block;
            height: 40px !important;
            margin-top: 20px;
            width: 100% !important;
        }

        .base-input-content {
            height: 100%;
            background-color: #fff;
            display: grid;
            grid-template-columns: 20px 1fr !important;
            column-gap: 20px !important;
            font-size: 24px;
        }

        .busqueda {
            border-bottom: 1px solid #f3f3f3;
        }

            .busqueda .content {
                width: 800px !important;
            }

        .question-section:not(:last-child) {
            border-bottom: 1px solid #f3f3f3;
        }

        .soporte-text {
            font-size: 24px;
            margin-bottom: 24px;
        }

            .soporte-text.blue {
                color: var(--btn-blue);
                cursor: pointer;
            }

        .question {
            margin: 0 0 24px 24px;
            height: 0;
            color: transparent;
        }

        .question-container.displayed .question {
            height: auto;
            color: #666666;
        }

        .question * {
            color: inherit;
            padding: 1em;
        }

        a { 
            text-decoration: none;
        }

        #a1 {
            color:#585858;
        }
        li{
            list-style:none;
        }

    </style>
</head>
<body>
    <main-container id="corfid">
        <div class="meta-content">
            <meta-logo class="logo">
                <div class="logo-content" id=”clickeable” onclick="location.href = '@Url.Action("","Home")';" style="cursor:pointer;"></div>
            </meta-logo>
            <meta-options class="options">
                <div class="opt-1"><span><a href="@Url.Action("quienesSomos","Home")">Quienes Somos</a></span></div>
                <div class="opt-2"><span><a href="@Url.Action("empresas","Home")">Empresas</a></span></div>
                <div class="opt-3"><span><a href="@Url.Action("corfid","Home")">Instituciones Registradas</a></span></div>
                <div class="opt-4 selected-option"><span><a href="@Url.Action("ayuda","Home")">Ayuda</a></span></div>
                <div class="opt-5"><span>Contacto</span></div>
                <div class="opt-6 sign-in sign-in-menu">
                    <span>Iniciar Sesión</span>
                    <ul class="sub-menu-login">
                        <li><a href="@Url.Action("","Acceso")">Como Cliente</a></li>
                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["HostAdmin"]">Intranet</a> </li>
                    </ul>
                </div>
                <div class="opt-7 sign-up"><span><a href="@Url.Action("","Registro")">Registrarse</a></span></div>
            </meta-options>
        </div>
    </main-container>
    <div class="terminos soporte">
        <div id="title" class="title">Soporte al Cliente</div>
        <base-input type="search" placeholder="Buscar Cliente" class="">
            <div class="base-input-content" style="font-size: 1.23em">
                <span class="view"></span>
                <input value="" placeholder="Ingresa el tema que te gustaría saber" type="search">
            </div>
        </base-input>
    </div>
    <div class="terminos busqueda">
        <div id="title" class="title" style="margin-left: 8%;">Búsqueda por Tema</div>
        <div id="busqueda-content" class="content" style="padding: 1em" ;>
            <!--div class="question-section">
                <div class="soporte-text">Información Básica</div>
                <div class="question-container displayed">content
                    <div class="soporte-text blue">Puntos que debes saber antes de iniciar una Subasta</div>
                    <div class="question">question
                        <p>1. Asegurate de tener configurado tus cuentas de banco en soles y dólares.</p>
                        <p>2. Una operación confirmada y no cumplida está sujeto a penalidades equivalentes al 0.5% del valor de la operación y cancelación de la cuenta del USUARIO.</p>
                        <p>3. No aceptamos cheques, ni efectivo.</p>
                        <p>4. Por seguridad, solo trabajamos con cuentas bancarias del titular.</p>
                        <p>5. Una vez confirmada y pactada la operación, tienes 10 minutos para confirmar la transferencia de los fondos.</p>
                        <p>6. Asegurate que has autorizado a tu banco hacer transferencia bancarias por los montos que vas a operar.</p>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <eighth-container>
        <div class="meta-content">
            <div class="text text-title">Próximamente descarga nuestra Aplicación</div>
            <div class="text text-content">
                <strong>
                    Haz seguimiento de tus transferencias donde quiera que estés,
                    o haz nuevas en un par de minutos
                </strong>
            </div>
            <div class="img-1"></div>
            <div class="img-2"></div>
        </div>
    </eighth-container>
    <ninth-container>
        <div class="meta-content">
            <footer-menu class="menu">
                <div class="footer-menu-content">
                    <div class="text-title">Mapa del Sitio</div>
                    <div class="text-title">Servicio al Cliente</div>
                    <div class="text-title">Mi Cuenta</div>
                    <div class="text-title">Libro de Reclamación</div>
                    <div class="submenu">
                        <div>
                            <span class="disk"></span>
                            <div><span class="text-footer">Nosotros</span></div>
                        </div>
                        <div>
                            <span class="disk"></span>
                            <div class="text-footer"> <span class="text-footer">Registradas</span></div>
                        </div>
                        <div>
                            <span class="disk"></span>
                            <div><span class="text-footer"><a id="a1" href="@Url.Action("quienesSomos","Home")">Empresas</a></span></div>
                        </div>
                    </div>
                    <div class="submenu">
                        <div>
                            <span class="disk"></span>
                            <div><span class="text-footer">Contáctenos</span></div>
                        </div>
                        <div>
                            <span class="disk"></span>
                            <div><span class="text-footer"><a id="a1" href="@Url.Action("quienesSomos","Home")">Ayuda</a></span></div>
                        </div>
                        <div>
                            <span class="disk"></span>
                            <div><span class="text-footer"><a id="a1" href="@Url.Action("terminos","Home")">Términos y Condiciones</a></span></div>
                        </div>
                        <div>
                            <span class="disk"></span>
                            <div><span class="text-footer"><a id="a1" href="@Url.Action("privacidad","Home")">Política de Privacidad</a></span></div>
                        </div>
                    </div>
                    <div class="submenu">
                        <div>
                            <span class="disk"></span>
                            <div><span class="text-footer"><a id="a1" href="@Url.Action("","Acceso")">Iniciar Sesión</a></span></div>
                        </div>
                        <div>
                            <span class="disk"></span>
                            <div><span class="text-footer"><a id="a1" href="@Url.Action("","Registro")">Registrarme</a></span></div>
                        </div>
                    </div>
                    <div class="book" id=”clickeable” onclick="location.href = '@Url.Action("libroReclamaciones","Home")';" style="cursor:pointer;"></div>
                </div>
            </footer-menu>
            <div class="logo"></div>
            <div class="rights">
                <!-- <p>LA MESA DE DINERO tiene todos los derechos en la empresa SOFIDIG S.A. ruc 20602578756, inscrito en registros públicos con número de partida electrónica 13972637.</p> -->
                <p>© 2018 LA MESA DE DINERO. Todos los derechos Reservados</p>
            </div>
        </div>
    </ninth-container>
</body>
</html>