@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="~/Content/css/general.css">
    <!-- 1ra Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/main-container/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/main-container/logo.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/main-container/options.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/main-container/section-a.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/main-container/section-b.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/main-container/exchanger-input.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/main-container/footer.css">
    <!-- 2da Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/second-container/layout.css">
    <!-- 3ra Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/third-container/layout.css">
    <!-- 4ra Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/fourth-container/layout.css">
    <!-- 5ta Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/fifth-container/layout.css">
    <!-- 6ta Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/sixth-container/layout.css">
    <!-- 7ma Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/seventh-container/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/seventh-container/contact-area.css">
    <!--Extra container-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/extra-container/layout.css">
    <!-- 8va Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/eighth-container/layout.css">
    <!-- 9na Pantalla Home -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/ninth-container/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/home/ninth-container/footer-menu.css">
    <!--Quienes Somos-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/quienes-somos/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/corfid/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/user-area-adjustments.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/auction/auction-box/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/register-auction-container/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/app.css" />
    <!-- custom select 1 (exchange soles) -->
    <script src="~/Content/js/custom_select.js"></script>
    <script src="~/Content/js/another-input-effect.js"></script>
    <script type="text/javascript">
    function redirectTo(url) {
        window.location.href = url;
    }
    </script>

    <style>
        exchanger-input > div {
            grid-template-columns: .1fr auto 60px minmax(auto, 120px) !important;
        }

        a {
            text-decoration: none;
        }

        #a1 {
            color: #585858;
        }

        li {
            list-style: none;
        }
    </style>
</head>
<body>
    <main-container id="corfid">
        <div class="meta-content">
            <meta-logo class="logo">
                <div class="logo-content" id=”clickeable” onclick="location.href = '@Url.Action("","Home")';" style="cursor:pointer;"></div>
            </meta-logo>
            <meta-options class="options">
                <div class="opt-1"><span><a href="@Url.Action("quienesSomos","Home")">Quienes Somos</a></span></div>
                <div class="opt-2"><span><a href="@Url.Action("empresas","Home")">Empresas</a></span></div>
                <div class="opt-3 selected-option"><span>Instituciones Registradas</span></div>
                <div class="opt-4"><span><a href="@Url.Action("ayuda","Home")">Ayuda</a></span></div>
                <div class="opt-5"><span><a href="#Contacto">Contacto</a> </span></div>
                <div class="opt-6 sign-in sign-in-menu">
                    <span>Iniciar Sesión</span>
                    <ul class="sub-menu-login">
                        <li><a href="@Url.Action("","Acceso")">Como Cliente</a></li>
                        <li><a href="@System.Configuration.ConfigurationManager.AppSettings["HostAdmin"]">Intranet</a> </li>
                    </ul>
                </div>
                <div class="opt-7 sign-up"><span><a href="@Url.Action("","Registro")">Registrarse</a></span></div>
            </meta-options>
        </div>
    </main-container>
    <div class="corfid">
        <div class="corfid-logo"></div>
        <div class="title">¿Cómo Funciona?</div>
        <div class="blue-text"><strong>CORFID Administrará y dará protección a:</strong></div>
        <div class="text">Las cuentas bancarias de intercambio.</div>
        <div class="text">Los fondos de los usuarios de La Mesa de Dinero.</div>
        <div class="triangle"></div>
    </div>
    <div class="banner">
        <div class="shadow">
            <div class="content">
                <div class="title">Registro</div>
                <div class="text">
                    Los usuarios se vinculan al fideicomiso a través del proceso de registro y aceptación del contrato
                    de afiliación. En este proceso CORFID hace la verificación que los usuarios no estén vinculados
                    a procesos de lavado de activos y financiamiento al narcotráfico.
                </div>
                <hr />
                <div class="title">Operación</div>
                <div class="text">
                    Cuando los usuarios registrados han pactado una operación, depositan sus fondos en las cuentas
                    de intercambio a nombre de CORFID. Este elimina cualquier fraude por incumplimiento de la
                    operación o de terceros.
                </div>
            </div>
        </div>
    </div>
    <third-container>
        <div class="meta-content">
            <div class="area-1">
                <div class="text-title">Beneficios</div>
            </div>
            <div class="area-2">
                <div class="icon-type-1 icon icon-1"></div>
                <div class="icon-type-1 icon icon-2"></div>
                <div class="icon-type-1 icon icon-3"></div>
                <div class="icon-type-1 icon icon-5"></div>
                <div class="icon icon-4"></div>
                <div class="text-x text-1">
                    <div class="text-title">Seguridad financiera al darle inembargabilidad a sus fondos.</div>
                </div>
                <div class="text-x text-2">
                    <div class="text-title">Procede de acuerdo a tus instrucciones.</div>
                </div>
                <div class="text-x text-3">
                    <div class="text-title">Otorga confidencialidad y secreto fiduciario respecto al origen de</div>
                    <div class="text-title">tus fondos y tus datos personales.</div>
                </div>
                <div class="text-x text-4">
                    <div class="text-title">Te permite negociar de manera directa con todos los usuarios o</div>
                    <div class="text-title">proveedores registrados, sin más papeleos.</div>
                </div>
            </div>
            <div class="area-3">
                <div class="text-title">
                    <div class="text-title-1"><span>La Mesa de Dinero y CORFID</span> han integrado sus sistemas para realizar estos</div>
                    <div style="margin-bottom: 40px;" class="text-title-2">procesos con la <span>AGILIDAD</span> que requieren operar nuestros usuarios.</div>
                    <div class="text-content"><strong>Igual de seguro que un Banco</strong></div>
                </div>
            </div>
        </div>
    </third-container>
    <eighth-container>
        <div class="meta-content">
            <div class="text text-title">Próximamente descarga nuestra Aplicación</div>
            <div class="text text-content">
                <strong>
                    Haz seguimiento de tus transferencias donde quiera que estés,
                    o haz nuevas en un par de minutos
                </strong>
            </div>
            <div class="img-1"></div>
            <div class="img-2"></div>
        </div>
    </eighth-container>
    <sixth-container style="background-color: #fff">
        <div class="meta-content">
            <div class="text-1 text-title">¿Buscabas más?</div>
            <div class="text-2 text-content">
                Gente muy agradable y con sentido de urgencia, dispuesta a
                ayudarte cuando nos necesites!
            </div>
        </div>
    </sixth-container>
    <seventh-container>
        <div class="meta-content" id="Contacto">
            <div class="text-title title-1">Contacto</div>
            <div class="text-title title-2">Solicita un experto en servicio</div>
            <div class="block-1">
                <p>LA MESA DE DINERO</p>
                <p>Calle Monte Rosa 256 Piso 10 Surco</p>
                <p>Chacarilla</p>
                <p>(1) 432 - 3453</p>
                <p>info@lamesadedinero.com</p>
                <p>Lunes a Viernes - 9:00 am a 7:00 pm</p>
            </div>
            <div class="social">
                <div class="text-title">Redes Sociales</div>
                <div class="text-content">Síguenos en:</div>
                <div class="text-icon text-icon-1"></div>
                <div class="text-icon text-icon-2"></div>
                <div class="text-icon text-icon-3"></div>
                <div class="text-icon text-icon-4"></div>
                <div class="text-icon text-icon-5"></div>
            </div>
            <contact-area class="block-2">
                <div class="contact-area-content">
                    <div class="dev-border contact-border">
                        <input value="" placeholder="Nombre" type="text">
                    </div>
                    <div class="dev-border contact-border">
                        <input value="" placeholder="Apellido" type="text">
                    </div>
                    <div class="dev-border contact-border">
                        <input value="" placeholder="Celular" type="text">
                    </div>
                    <div class="dev-border contact-border">
                        <input value="" placeholder="Correo" type="text">
                    </div>
                    <div class="dev-border contact-border btn-s">
                        <span>Solicítenos Hoy</span>
                    </div>
                </div>
            </contact-area>
        </div>
    </seventh-container>
    <ninth-container>
        <div class="meta-content">
            <footer-menu class="menu">
                <div class="footer-menu-content">
                    <div class="text-title">Mapa del Sitio</div>
                    <div class="text-title">Servicio al Cliente</div>
                    <div class="text-title">Mi Cuenta</div>
                    <div class="text-title">Libro de Reclamación</div>
                    <div class="submenu">
                        <div><span class="disk"></span><div><span class="text-footer"><a id="a1" href="@Url.Action("quienesSomos","Home")">Nosotros</a></span></div></div>
                        <div>
                            <span class="disk"></span>

                            <div><span class="text-footer"><a id="a1" href="@Url.Action("corfid", "Home")">Instituciones Registradas</a></span></div>

                        </div>
                        <div><span class="disk"></span><div><span class="text-footer"><a id="a1" href="@Url.Action("empresas","Home")">Empresas</a></span></div></div>
                    </div>
                    <div class="submenu">
                        <div>
                            <span class="disk"></span>

                            <div><span class="disk"></span><div><span class="text-footer"><a id="a1" href="#Contacto">Contáctenos</a></span></div></div>
                        </div>
                        <div>
                            <span class="disk"></span>
                            <div><span class="text-footer"><a id="a1" href="@Url.Action("ayuda","Home")">Ayuda</a></span></div>
                        </div>
                        <div>
                            <span class="disk"></span>
                            <div><span class="text-footer"><a id="a1" href="@Url.Action("terminos","Home")">Términos y Condiciones</a></span></div>
                        </div>
                        <div>
                            <span class="disk"></span>
                            @*<div><span class="text-footer"><a id="a1" href="@Url.Action("privacidad","Home")">Política de Privacidad</a></span></div>*@
                            <div><span class="disk"></span><div><span class="text-footer"><a id="a1">Política de Privacidad</a></span></div></div>
                        </div>
                    </div>
                    <div class="submenu">
                        <div>
                            <span class="disk"></span>
                            <div><span class="text-footer"><a id="a1" href="@Url.Action("","Acceso")">Iniciar Sesión</a></span></div>
                        </div>
                        <div>
                            <span class="disk"></span>
                            <div><span class="text-footer"><a id="a1" href="@Url.Action("","Registro")">Registrarme</a></span></div>
                        </div>
                    </div>
                    <div class="book"></div>
                </div>
            </footer-menu>
            <div class="logo"></div>
            <div class="rights">
                <!-- <p>LA MESA DE DINERO tiene todos los derechos en la empresa SOFIDIG S.A. ruc 20602578756, inscrito en registros públicos con número de partida electrónica 13972637.</p> -->
                <p>© 2019 LA MESA DE DINERO. Todos los derechos Reservados</p>
            </div>
        </div>
    </ninth-container>
    <div id="ibmovx-is-installed"></div>
</body>
</html>