@model MesaDinero.Domain.Model.RegistroResponse
@{
    ViewBag.Title = "Crear Contraseña";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<create-password>
    <div class="form-base-container-content">
        <div class="dark-logo"></div><div class="exit-btn"></div>
        <div class="form-content">
            <div class="form-base-title">Crea tu contraseña</div><div class="parragraph-container">
                <p>Para mayor seguridad, la contrase&ntilde;a debe tener car&aacute;cteres alfan&uacute;mericos</p>

            </div>

            @using (Html.BeginForm("Password", "Registro", FormMethod.Post, new { @class = "form", id = "frm_crearpass", data_bind = "with:$root.passwordContext" }))
            {
                if (TempData["error"] != null && !string.IsNullOrEmpty(TempData["error"].ToString()))
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["error"]
                    </div>
                }

                <input type="hidden" name="sid" id="sid" value="@Model.sid" />
                <input type="hidden" name="opcionUsuario" id="opcionUsuario" value="@Model.opcionUsuario" />
                <input type="hidden" name="email" id="email" value="@Model.email" />

                    <br />
                    <base-input type="text" placeholder="@string.Format("*******@email.com")"><div class="base-input-content"><input placeholder="@string.Format("*******@email.com")" type="text" value="@Model.email" readonly></div></base-input>
                    <base-input type="password" placeholder="Ingresa tu contraseña">
                        <div class="base-input-content">
                            <input id="password" name="password" autofocus autocomplete="off" placeholder="Ingresa tu contraseña" type="password" data-bind="value:$data.password">
                            <span class="view" onclick="tooglePassword('#password');"></span>
                        </div>
                    </base-input>
                    <base-input type="password" placeholder="Ingresa tu contraseña">
                        <div class="base-input-content">
                            <input id="rePassword" name="rePassword" autocomplete="off" placeholder="Vuelve a ingresar tu contraseña" type="password" data-bind="value:$data.rePassword">
                            <span class="view" onclick="tooglePassword('#rePassword');"></span>
                        </div>
                    </base-input>
                    <div class="base-btn" data-bind="click:$root.crearPassword">
                        <span class="base-btn-text">Crear contraseña</span>
                    </div>
                
            }   
        </div>
    </div>
</create-password>

@section Scripts {

    <script>
        var sid = '@Model.sid';
        var host = '@System.Configuration.ConfigurationManager.AppSettings["HostWeb"]';
    </script>

<script src="~/Content/js/Registro/Password.js"></script>

}
