@{

}

<link rel="stylesheet" type="text/css" href="~/Content/css/components/form-base-container/base-input/layout.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/register-auction-container/custom-checkbox.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/auction/auction-box/layout.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/register-auction-container/horizontal-progress-bar.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/components/dashboard-container/bank-form/layout.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/components/dashboard-container/bank-list/layout.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/router/treasury_layout.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/user-area-adjustments.css">

<div class="content-area">
    <div class="complex-dashboard-content">
        <div class="dashboard-tabs" style="grid-template-columns: 1fr 1fr 1fr 1fr 1fr;">

            <div><a href="@Url.Action("Index", "OperacionController")">Operaciones Confirmadas</a></div>
            <div class="active"><a href="@Url.Action("VerificacionPago", "OperacionController")">Verificación de Pago</a></div>
            <div><a href="@Url.Action("GenerarPagos", "OperacionController")">Generar Pagos</a></div>
            <div><a href="@Url.Action("Index", "APartners")">Adjudicación Partners</a></div>
        </div>
        <div class="list-container">
            <div class="treasury treasury-b">
                <dashboard-list>
                    <div style="text-align: center;" data-bind="with:$root.lstVerificarPagos">

                        <table class="k-table k-thover k-trow-pointer">
                            <thead class="k-thead">
                                <tr class="k-throw">
                                    <th></th>
                                    <th>ID Transacción</th>
                                    <th>Fecha Conf.</th>
                                    <th>Hora.</th>
                                    <th>Tipo Operación.</th>
                                    <th>Cliente</th>
                                    <th>Acción</th>
                                    <th>Moneda</th>
                                    <th>Monto</th>
                                    <th>B. Origen</th>
                                    <th>Cuentas Origen</th>
                                    <th>ID Conf</th>
                                    <th></th>
                                </tr>

                            </thead>
                            <tbody class="k-tbody" data-bind="foreach:$data.datasource">
                                <tr>

                                    <td>
                                        @*<div class="other">
                                                <custom-checkbox class="chx-1" text-content="void">
                                                    <div class="custom-checkbox-content inactive">
                                                        <div class="custom-checkbox-icon"></div>
                                                        <div class="custom-checkbox-text">void</div>
                                                    </div>
                                                </custom-checkbox>
                                            </div>*@

                                        <label class="k-content-radio">
                                            <input type="checkbox" name="acepto_terminos" data-bind="checked:$data.checkPago" />
                                            <div class="k-radioButtom-icon"></div>
                                        </label>

                                    </td>
                                    <td><span data-bind="text:$data.formatoTransaccion"></span></td>

                                    <td><span data-bind="text:$data.fechaShort"></span></td>
                                    <td><span data-bind="text:$data.hora"></span></td>
                                    <td><span data-bind="text:$data.tipoOperacion"></span></td>
                                    <td><span data-bind="text:$data.usuario"></span></td>
                                    <td><span data-bind="text:$data.accion"></span></td>
                                    <td><span data-bind="text:$data.tipoMoneda"></span></td>
                                    <td><span data-bind="text:$data.monto"></span></td>
                                    <td><span data-bind="text:$data.bancoOrigen"></span></td>
                                    <td><span data-bind="text:$data.cuentaOrigen"></span></td>
                                    <td><span data-bind="text:$data.nroOperacionPago"></span></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        @Html.Partial("_Pagination")

                        @*<div class="headers" style="grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;">
                                <div class="header-i empty"></div>
                                <div class="header-i normal">ID Transacción</div>
                                <div class="header-i normal">Fecha Conf.</div>
                                <div class="header-i normal">Hora.</div>
                                <div class="header-i normal">Tipo Operación.</div>
                                <div class="header-i normal">Cliente</div>
                                <div class="header-i normal">Acción</div>
                                <div class="header-i normal">Moneda</div>
                                <div class="header-i normal">Monto</div>
                                <div class="header-i normal">B. Origen</div>
                                <div class="header-i normal">Cuentas Origen</div>
                                <div class="header-i normal">ID Conf</div>
                            </div>
                            <div class="items">
                                <div style="grid-template-columns: repeat(12, 1fr)" class="list-i">
                                    <div class="other">
                                        <custom-checkbox class="chx-1" text-content="void">
                                            <div class="custom-checkbox-content inactive">
                                                <div class="custom-checkbox-icon"></div>
                                                <div class="custom-checkbox-text">void</div>
                                            </div>
                                        </custom-checkbox>
                                    </div>
                                    <div class="normal">xxx</div>
                                    <div class="normal">xxx</div>
                                    <div class="normal">xxx</div>
                                    <div class="normal">xxx</div>
                                    <div class="normal">xxx</div>
                                    <div class="normal">xxx</div>
                                    <div class="normal">xxx</div>
                                    <div class="normal">xxx</div>
                                    <div class="normal">xxx</div>
                                    <div class="normal">-</div>
                                    <div class="normal">-</div>
                                </div>

                            </div>*@
                    </div>
                </dashboard-list>
                <div class="button-row">

                    <div class="btn regular" data-bind="click:$root.verificarOperacion"><span class="btn-text">Verificado</span></div>
                    <div class="btn blue-bordered" data-bind="click:$root.observarOperacion"><span class="btn-text">No Encontrado</span></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/Content/js/app/OperacionVerificar.js"></script>
}
